<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Form System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                @Html.ActionLink("Stefan", "", "", new { area = "" }, new { @class = "navbar-brand", @href = "#", @title = "Go to Stefan", @id = "SLink" })            
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li style="margin-top:5px;">@Html.ActionLink("Home", "Index", "Home")</li>
                    @if (User.Identity.Name != "")
                    {
                        <li style="margin-top:5px;">@Html.ActionLink("Contact", "Contact", "Home")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <hr />
    @if (!User.IsInRole("Admin"))
    {
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Form System</p>
            </footer>
        </div>

    }
    else if (User.IsInRole("Admin"))
    {
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container-fluid">
                <div id="bs-sidebar-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <!-- ... -->
                        <li><a href="~/Startups">Startup Projects<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-flash"></span></a></li>
                        <li><a href="~/Manage/">User Accounts<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a></li>
                        <li><a href="~/HomeInfos/">Home Page Info</a></li>
                        <li class="divider"></li>
                        <!-- ... -->
                        <li><a href="~/IdeaCarrierMessages/">Idea Carrier Message</a></li>
                        <li class="divider"></li>
                        <li><a href="~/EstimatedExitPlans/">Estimated Exit plans</a></li>
                        <li class="divider"></li>
                        <li><a href="~/FundingAmounts/">Funding Amounts</a></li>
                        <li class="divider"></li>
                        <li><a href="~/FundingDivisions/">Funding Divisions</a></li>
                        <li class="divider"></li>
                        <li><a href="~/FundingPhases/">Funding Phases</a></li>
                        <li class="divider"></li>
                        <li><a href="~/InnovationLevels/">Innovation Levels</a></li>
                        <li class="divider"></li>
                        <li><a href="~/OutComes/">Outcomes</a></li>
                        <li class="divider"></li>
                        <li><a href="~/ProjectDomains/">Project Domains</a></li>
                        <li class="divider"></li>
                        <li><a href="~/Scalabilities/">Scalabilities</a></li>
                        <li class="divider"></li>
                        <li><a href="~/Countries/">Countries</a></li>
                        <li class="divider"></li>
                        <li><a href="~/SwedishRegions/">Swedish Regions (l&auml;n)</a></li>
                        <li class="divider"></li>
                        <li><a href="~/SmtpClients/">SMTP Settings</a></li>
                        <li class="divider"></li>
                        @*<li><a href="~/Blogs/">Blogs</a></li>
                            <li class="divider"></li>
                            <li><a href="~/BlogComments/">Blog Comments</a></li>*@
                        @*<li class="divider"></li>*@
                        @*</ul>
                            </li>*@
                    </ul>
                </div>
            </div>
        </nav>
        <hr /><br />
        <div class="main">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Form System</p>
            </footer>
        </div>
    }

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript" src="~/Scripts/eosJavaScripts.js"></script>
    <script src="~/Scripts/jquery.bootstrap.wizard.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @*<script src="//netdna.bootstrapcdn.com/bootswatch/3.1.1/cosmo/bootstrap.min.css"></script>*@
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    @RenderSection("scripts", required: false)
</body>
</html>
