@model EoS.Models.IdeaCarrier.Startup

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CasePreview</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div style="width:1220px; border:solid; border-color:#4190b6">
        <div class="container-fluid">
            <div class="row">
                <img src="~/img/EoS.jpg" class="img-responsive"> @*image size 900x500 or 1219x500 pixels*@
            </div>
        </div>
        <div  style="width:1215px ; height:150px; background-color:#4190b6; padding:2px">

            <h1 style="text-align:center ; position: center; font-size:50px; font-family:sans-serif; color:black">CASE PREVIEW DOCUMENT</h1>
            <h3 style="text-align:left ; font-size:20px; font-family:sans-serif; color:white;  float:left">Domain: @Html.DisplayFor(model => model.ProjectDomain.ProjectDomainName)</h3>
            <h3 style="text-align:right ; font-size:20px; font-family:sans-serif; color:white; float:right">ID: @Html.DisplayFor(model => model.StartupID)</h3>
            @*@Html.DisplayNameFor(model => model.ProjectDomain.ProjectDomainName):*@
        </div>

        <div style="text-align:center">
            <textarea style="height: 234px; width: 924px; margin-top: 5px; font-family:sans-serif; resize: none; border-width:medium; align-content:center">@Html.DisplayFor(model => model.ProjectSummary)</textarea>
        </div>
        @*<div id="slidecontainer" style="margin-top:10px; text-align:center">
            <progress type="range" min="1" max="10" value="5" class="slider" id="myRange" />
        </div>*@
        <div class="container" style="text-align:center">
            <h2>Level of Innovation</h2>
            <div class="progress">
                <div class="input-group">
                    <span class="input-group-addon">0</span>
                    @if (Model.InnovationLevel.InnovationLevelID.Equals(1)) {
                    <div class="progress-bar" role="progressbar" aria-valuenow="3" aria-valuemin="0" aria-valuemax="10" style="width:30%">
                       30%
                    </div>
                    }else if ((Model.InnovationLevel.InnovationLevelID.Equals(2)))
                    {
                        <div class="progress-bar" role="progressbar" aria-valuenow="6" aria-valuemin="0" aria-valuemax="10" style="width:60%">
                            60%
                        </div>
                    }else if ((Model.InnovationLevel.InnovationLevelID.Equals(3)))
                    {
                        <div class="progress-bar" role="progressbar" aria-valuenow="8" aria-valuemin="0" aria-valuemax="10" style="width:80%">
                            80%
                        </div>
                    }
                    else if ((Model.InnovationLevel.InnovationLevelID.Equals(4)))
                    {
                        <div class="progress-bar" role="progressbar" aria-valuenow="9" aria-valuemin="0" aria-valuemax="10" style="width:90%">
                            90%
                        </div>
                    }
                    else if ((Model.InnovationLevel.InnovationLevelID.Equals(5)))
                    {
                        <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="10" style="width:100%">
                            100%
                        </div>
                    }
                    <span class="input-group-addon">10</span>
                </div>
            </div>
            <h2>@Html.DisplayFor(model => model.InnovationLevel.InnovationLevelName)</h2>
            </div>
        <div>

            <div class="row col-xs-offset-1" style="padding-top:50px; padding-bottom:50px;">
                <div class="col-xs-6" style="text-align:left">
                    <h4> @Html.DisplayNameFor(model => model.Country.CountryName): <span style="color:#4190b6">@Html.DisplayFor(model => model.Country.CountryName)</span> </h4>
                    @if (!Model.SwedishRegionID.Equals(null))
                    {

                        <h4>@Html.DisplayNameFor(model => model.SwedishRegion.RegionName): <span style="color:#4190b6">@Html.DisplayFor(model => model.SwedishRegion.RegionName)</span></h4>
                    }
                    <h4>@Html.DisplayNameFor(model => model.EstimatedExitPlan.EstimatedExitPlanName): <span style="color:#4190b6">@Html.DisplayFor(model => model.EstimatedExitPlan.EstimatedExitPlanName)</span></h4>
                    <h4>@Html.DisplayNameFor(model => model.FundingAmount.FundingAmountValue): <span style="color:#4190b6">@Html.DisplayFor(model => model.FundingAmount.FundingAmountValue)</span></h4>
                    <h4>@Html.DisplayNameFor(model => model.FundingPhase.FundingPhaseName): <span style="color:#4190b6">@Html.DisplayFor(model => model.FundingPhase.FundingPhaseName)</span></h4>
                    <h4>@Html.DisplayNameFor(model => model.Scalability.ScalabilityName): <span style="color:#4190b6">@Html.DisplayFor(model => model.Scalability.ScalabilityName)</span></h4>
                    <h4>
                        @Html.DisplayNameFor(model => model.AlreadySpentMoney)
                        @if (@Html.DisplayFor(model => model.AlreadySpentMoney).Equals(true))
                        {
                            <span style="color:#4190b6"><text>Yes</text></span>
                        }
                        else
                        {
                            <span style="color:#4190b6"><text>No</text></span>
                        }
                    </h4>
                    <h4>
                        @Html.DisplayNameFor(model => model.AlreadySpentMoney)
                        @if (@Html.DisplayFor(model => model.AlreadySpentMoney).Equals(true))
                        {
                            <span style="color:#4190b6"><text>Yes</text></span>
                        }
                        else
                        {
                            <span style="color:#4190b6"><text>No</text></span>
                        }
                    </h4>
                    <h4>
                        @Html.DisplayNameFor(model => model.FutureFundingNeeded)
                    @if (@Html.DisplayFor(model => model.FutureFundingNeeded).Equals(true))
                    {
                        <span style="color:#4190b6"><text>Yes</text></span>
                    }
                    else
                    {
                        <span style="color:#4190b6"><text>No</text></span>
                    }
                   </h4>
                <h4>@Html.DisplayNameFor(model => model.EstimatedBreakEven): <span style="color:#4190b6">@Html.DisplayFor(model => model.EstimatedBreakEven)</span></h4>
                    @if (!Model.Outcomes.Count.Equals(0)) {                     
                <h4>Outcomes:
                    @foreach (var item in Model.Outcomes.ToList())
                    {
                        <span style="color:#4190b6"> @item.OutcomeName, </span>
                    }
                </h4>
                    }
                    <h4>
                        Investor Allowed:
                        @foreach (var item in Model.AllowedInvestors.ToList())
                        {
                            <span style="color:#4190b6"> @item.AllowedInvestorName, </span>
                        }
                    </h4>
                  
            </div>

                <div class="col-xs-6" style="text-align:left">
                            <h4>@Html.DisplayNameFor(model => model.TeamMemberSize): <span style="color:#4190b6">@Html.DisplayFor(model => model.TeamMemberSize)</span></h4>
                            <h4>@Html.DisplayNameFor(model => model.GoalTeamSize): <span style="color:#4190b6">@Html.DisplayFor(model => model.GoalTeamSize)</span></h4>
                            <h4>@Html.DisplayNameFor(model => model.TeamExperince): <span style="color:#4190b6">@Html.DisplayFor(model => model.TeamExperince)</span></h4>
                            <h4>
                                @Html.DisplayNameFor(model => model.TeamVisionShared):
                            @if (@Html.DisplayFor(model => model.TeamVisionShared).Equals(true))
                            {
                                <span style="color:#4190b6"><text>Yes</text></span>
                            }
                            else
                            {
                                <span style="color:#4190b6"><text>No</text></span>
                            }
                        </h4>
                    <h4>
                        @Html.DisplayNameFor(model => model.HaveFixedRoles): 
                        @if (@Html.DisplayFor(model => model.HaveFixedRoles).Equals(true))
                        {
                            <span style="color:#4190b6"><text>Yes</text></span>
                        }
                        else
                        {
                            <span style="color:#4190b6"><text>No</text></span>
                        }
                    </h4>
                    <h4>@Html.DisplayNameFor(model => model.PossibleIncomeStreams): <span style="color:#4190b6">@Html.DisplayFor(model => model.PossibleIncomeStreams)</span></h4>
                    <h4>
                        @Html.DisplayNameFor(model => model.AlreadySpentTime)
                        @if (@Html.DisplayFor(model => model.AlreadySpentTime).Equals(true))
                        {
                            <span style="color:#4190b6"><text>Yes</text></span>
                        }
                        else
                        {
                            <span style="color:#4190b6"><text>No</text></span>
                        }
                    </h4>
                    @if (!Model.TeamWeaknesses.Count.Equals(0))
                    {
                    <h4>
                        Team Weaknesses:
                        @foreach (var item in Model.TeamWeaknesses.ToList())
                        {
                            <span style="color:#4190b6"> @item.TeamWeaknessName,</span>
                        }
                    </h4>
                    }
                </div>
                </div>

                    </div>
    </div>
</body>
</html>
