<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - EoS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    @*<div class="navbar navbar-inverse navbar-fixed-top">
            @Html.ActionLink("EoS", "", "", new { area = "" }, new { @class = "navbar-brand", @href = "htt p://w ww.enablersofsweden.com/", @title = "Go to Enablers of Sweden", @id = "EoSLink" })
            <ul class="nav navbar-nav">
                <li style="margin-top:5px;">@Html.ActionLink("Home", "Index", "Home")</li>
                @if (User.Identity != null)
            {
                <li style="margin-top:5px;">@Html.ActionLink("Contact", "Contact", "Home")</li>
            }
            </ul>
            @Html.Partial("_LoginPartial")
        </div>*@

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                @*<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>*@
                @*<span onmouseover="document.getElementById('EoSLink').style.color = '#fac115'" onmouseout="document.getElementById('EoSLink').style.color = 'white'">
                    @*<a href="http://www.enablersofsweden.com/" title="Go to Enablers of Sweden" class="navbar-brand">EoS</a>*@

                @Html.ActionLink("EoS", "", "", new { area = "" }, new { @class = "navbar-brand", @href = "http://www.enablersofsweden.com/", @title = "Go to Enablers of Sweden", @id = "EoSLink" })

                @*</span>*@
            </div>
            <div>
                <!--class="navbar-collapse collapse"-->
                <ul class="nav navbar-nav">
                    <li style="margin-top:5px;">@Html.ActionLink("Home", "Index", "Home")</li>
                    @*<li style="margin-top:5px;">@Html.ActionLink("About", "About", "Home")</li>*@
                    @if (User.Identity.Name != "")
                    {
                        <li style="margin-top:5px;">@Html.ActionLink("Contact", "Contact", "Home")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    @*@if (!User.IsInRole("Admin"))
        {
            <div class="container body-content">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Enablers Of Sweden</p>
                </footer>
            </div>

        }
        else*@
    @if (User.IsInRole("Admin"))
    {
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                @*<div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        <a class="navbar-brand" href="ht tp://www.enablersofsweden.com">Enablers Of Sweden</a>
                    </div>*@
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div id="bs-sidebar-navbar-collapse-1">
                    <!--class="collapse navbar-collapse"-->
                    <ul class="nav navbar-nav">
                        <li><a href="~/MatchMakings/Motor">Match Making Motor<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-star"></span></a></li>
                        <li><a href="~/Investments/">Investment Profiles<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-briefcase"></span></a></li>
                        <li><a href="~/Startups">Startup Projects<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-flash"></span></a></li>
                        <li><a href="~/Manage/">User Accounts<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a></li>
                        @*<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
                            <ul class="dropdown-menu forAnimate" role="menu">*@
                        <li><a href="~/HomeInfos/">Home Page Info</a></li>
                        <li class="divider"></li>
                        <li><a href="~/InvestorMessages/">Investor Message</a></li>
                        <li class="divider"></li>
                        <li><a href="~/IdeaCarrierMessages/">Idea Carrier Message</a></li>
                        <li class="divider"></li>
                        <li><a href="~/EstimatedExitPlans/">Estimated Exit plans</a></li>
                        <li class="divider"></li>
                        <li><a href="~/FundingAmounts/">Funding Amounts</a></li>
                        <li class="divider"></li>
                        <li><a href="~/FundingDivisions/">Funding Divisions</a></li>
                        <li class="divider"></li>
                        <li><a href="~/FundingPhases/">Funding Phases</a></li>
                        <li class="divider"></li>
                        <li><a href="~/InnovationLevels/">Innovation Levels</a></li>
                        <li class="divider"></li>
                        <li><a href="~/OutComes/">Outcomes</a></li>
                        <li class="divider"></li>
                        <li><a href="~/ProjectDomains/">Project Domains</a></li>
                        <li class="divider"></li>
                        <li><a href="~/Scalabilities/">Scalabilities</a></li>
                        <li class="divider"></li>
                        <li><a href="~/Countries/">Countries</a></li>
                        <li class="divider"></li>
                        <li><a href="~/SwedishRegions/">Swedish Regions (l&auml;n)</a></li>
                        <li class="divider"></li>
                        <li><a href="~/SmtpClients/">SMTP Settings</a></li>
                        <li class="divider"></li>
                        @*<li><a href="~/Blogs/">Blogs</a></li>
                            <li class="divider"></li>
                            <li><a href="~/BlogComments/">Blog Comments</a></li>*@
                        @*<li class="divider"></li>*@
                        @*</ul>
                            </li>*@
                    </ul>
                </div>
            </div>
        </nav>
        @*<hr /><br />*@
        @*<div class="main">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Enablers Of Sweden</p>
                </footer>
            </div>*@
    }

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Enablers Of Sweden</p>
            <button class="btn btn-primary hidden-print" style="height:25px;padding:1px" onclick="print()">Print page</button>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript" src="~/Scripts/eosJavaScripts.js"></script>
    <script src="~/Scripts/jquery.bootstrap.wizard.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @*<script src="//netdna.bootstrapcdn.com/bootswatch/3.1.1/cosmo/bootstrap.min.css"></script>*@
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    @RenderSection("scripts", required: false)
</body>
</html>
