@model EoS.Models.Investor.InvestmentProfileViewModel

<div class="form-group">
    @Html.LabelFor(model => model.TeamMemberSizeMoreThanOne, htmlAttributes: new { @class = "control-label col-md-2", @style = "text-align:left" })
    <div class="col-md-9">
        <div class="checkbox col-md-10">
            @Html.EditorFor(model => model.TeamMemberSizeMoreThanOne)
            @Html.ValidationMessageFor(model => model.TeamMemberSizeMoreThanOne, "", new { @class = "text-danger" })
        </div>
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.TeamHasExperience, htmlAttributes: new { @class = "control-label col-md-2", @style = "text-align:left" })
    <div class="col-md-9">
        <div class="checkbox col-md-10">
            @Html.EditorFor(model => model.TeamHasExperience)
            @Html.ValidationMessageFor(model => model.TeamHasExperience, "", new { @class = "text-danger" })
        </div>
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.ActiveInvestor, htmlAttributes: new { @class = "control-label col-md-2", @style = "text-align:left" })
    <div class="col-md-9">
        <div class="checkbox col-md-10">
            @Html.EditorFor(model => model.ActiveInvestor)
            @Html.ValidationMessageFor(model => model.ActiveInvestor, "", new { @class = "text-danger" })
        </div>
    </div>
</div>

@if (Model.TeamSkills != null)
{
    <div class="@(ViewBag.Unanswered == "TeamSkills" ? "form-group warning" : "form-group")">
        <label class="control-label col-md-2" style="text-align:left">Skills of the team</label>
        <div class="col-md-offset-2 col-md-10" style="margin-left:0">
            <table class="borderless">
                <tr>
                    @{
                        foreach (var teamSkill in Model.TeamSkills)
                        {
                            <td><input type="checkbox" name="SelectedTeamSkillIDs" value="@teamSkill.SkillID" @(teamSkill.Assigned ? "checked=\"checked\"" : "") /> @teamSkill.SkillName</td>
                        @:</tr><tr>
                        }
                    }
                </tr>
            </table>
        </div>
    </div>
}

<hr />
@if (string.IsNullOrEmpty(ViewBag.Unanswered))
{
    <div class="col-md-offset-4 hidden-print">
        <input type="button" value="Save your answers for this tab Team" class="btn btn-warning btn-sm" style="color:black;max-width:500px" onclick="SaveData()" title="in order to return later" />
    </div>
    <div class="col-md-offset-2">
        <h5 class="text-danger">You have to answer all the necessary questions in all tabs before you may submit the form.</h5>
    </div>
}
else
{
    <div class="col-md-offset-4 hidden-print">
        @Html.ActionLink("Cancel submission of form", "SubmitProfileForm", new { id = Model.InvestmentID, cancel = true, redirect = "ProfileForm", redirectTab = "Team" }, new { @id = "cancelProfileFormSubmission", @class = "btn btn-danger" })
    </div>
}

