@model EoS.Models.Investor.InvestmentProfileViewModel

<div class="@(ViewBag.Unanswered == "Outcomes" ? "form-group warning" : "form-group")">
    <label class="control-label col-md-2" style="text-align:left">The outcomes</label>
    <div class=" col-md-offset-2 col-md-10" style="margin-left:0">
        <table class="borderless">
            <tr>
                @{
                    foreach (var outcome in Model.Outcomes)
                    {
                        <td><input type="checkbox" name="SelectedOutcomeIDs" value="@outcome.OutcomeID" @(outcome.Assigned ? "checked=\"checked\"" : "") /> @outcome.OutcomeName</td>
                    @:</tr><tr>
                    }
                }
            </tr>
        </table>
    </div>
</div>

<div class="@(ViewBag.Unanswered == "InnovationLevels" ? "form-group warning" : "form-group")">
    <label class="control-label col-md-2" style="text-align:left">Levels of innovation</label>
    <div class=" col-md-offset-2 col-md-10" style="margin-left:0">
        <table class="borderless">
            <tr>
                @{
                    foreach (var innovationLevel in Model.InnovationLevels)
                    {
                        <td><input type="checkbox" name="SelectedInnovationLevelIDs" value="@innovationLevel.InnovationLevelID" @(innovationLevel.Assigned ? "checked=\"checked\"" : "") /> @innovationLevel.InnovationLevelName </td>
                    @:</tr><tr>
                    }
                }
            </tr>
        </table>
    </div>
</div>

<div class="@(ViewBag.Unanswered == "Scalabilities" ? "form-group warning" : "form-group")">
    <label class="control-label col-md-2" style="text-align:left">Required scalabilities</label>
    <div class=" col-md-offset-2 col-md-10" style="margin-left:0">
        <table class="borderless">
            <tr>
                @{
                    foreach (var scalability in Model.Scalabilities)
                    {
                        <td><input type="checkbox" name="SelectedScalabilityIDs" value="@scalability.ScalabilityID" @(scalability.Assigned ? "checked=\"checked\"" : "") /> @scalability.ScalabilityName</td>
                    @:</tr><tr>
                    }
                }
            </tr>
        </table>
    </div>
</div>

<hr />
@if (string.IsNullOrEmpty(ViewBag.Unanswered))
{
    <div class="col-md-offset-4 hidden-print">
        <input type="button" value="Save your answers for this tab Outcome" class="btn btn-warning btn-sm" style="color:black;max-width:500px" onclick="SaveData()" title="in order to return later" />
    </div>
    <div class="col-md-offset-2">
        <h5 class="text-danger">You have to answer all the necessary questions in all tabs before you may submit the form.</h5>
    </div>
}
else
{
    <div class="col-md-offset-4 hidden-print">
        @Html.ActionLink("Cancel submission of form", "SubmitProfileForm", new { id = Model.InvestmentID, cancel = true, redirect = "ProfileForm", redirectTab = "Outcome" }, new { @id = "cancelProfileFormSubmission", @class = "btn btn-danger" })
    </div>
}

