@model EoS.Models.Investor.InvestmentProfileViewModel

<div class="@(Model.UnansweredQuestion == "ProfileName" ? "form-group warning" : "form-group")">
    @Html.LabelFor(model => model.ProfileName, htmlAttributes: new { @class = "control-label col-md-2", @style = "text-align:left" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.ProfileName, new { htmlAttributes = new { @class = "form-control", placeholder = "This is for you only" } })
        @Html.ValidationMessageFor(model => model.ProfileName, "", new { @class = "text-danger" })
    </div>
</div>

<div class="@(Model.UnansweredQuestion == "ProfileDomain" ? "form-group warning" : "form-group")">
    @Html.LabelFor(model => model.ProfileDomainID, htmlAttributes: new { @class = "control-label col-md-2", @style = "text-align:left" })
    <div class="col-md-10">
        @Html.DropDownListFor(model => model.ProfileDomainID, Model.ProfileDomainList, "Select:", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ProfileDomainID, "", new { @class = "text-danger" })
    </div>
</div>

<hr />
@if (string.IsNullOrEmpty(Model.UnansweredQuestion))
{
    <div class="col-md-offset-4 hidden-print">
        <input type="button" value="Save your answers for this tab Profile" class="btn btn-warning btn-sm" style="color:black;;max-width:500px" onclick="SaveData()" title="in order to return later" />
    </div>
    <div class="col-md-offset-2">
        <h5 class="text-danger">You have to answer all the necessary questions in all tabs before you may submit the form.</h5>
    </div>
}
else
{
    <div class="col-md-offset-4 hidden-print">
        @Html.ActionLink("Cancel submission of form", "SubmitProfileForm", new { id = Model.InvestmentID, cancel = true, redirect = "ProfileForm", redirectTab = "Profile" }, new { @id = "cancelProfileFormSubmission", @class = "btn btn-danger" })
    </div>
}
