@model EoS.Models.Investor.InvestmentProfileViewModel

<div class="@(Model.UnansweredQuestion == "FundingPhases" ? "form-group warning" : "form-group")">
    <label class="control-label col-md-2" style="text-align:left">Funding phases</label>
    <div class=" col-md-offset-2 col-md-10" style="margin-left:0">
        <table class="borderless">
            <tr>
                @{
                    foreach (var fundingPhase in Model.FundingPhases)
                    {
                        <td><input type="checkbox" name="FundingPhaseIDs" value="@fundingPhase.FundingPhaseID" @(fundingPhase.Assigned ? "checked=\"checked\"" : "") /> @fundingPhase.FundingPhaseName</td>
                    @:</tr><tr>
                    }
                }
            </tr>
        </table>
    </div>
</div>

<div class="@(Model.UnansweredQuestion == "FundingAmounts" ? "form-group warning" : "form-group")">
    <label class="control-label col-md-2" style="text-align:left">Funding amounts (SEK)</label>
    <div class=" col-md-offset-2 col-md-10" style="margin-left:0">
        <table class="borderless">
            <tr>
                @{
                    foreach (var fundingAmount in Model.FundingAmounts)
                    {
                        <td><input type="checkbox" name="FundingAmountIDs" value="@fundingAmount.FundingAmountID" @(fundingAmount.Assigned ? "checked=\"checked\"" : "") /> @fundingAmount.FundingAmountValue</td>
                    @:</tr><tr>
                    }
                }
            </tr>
        </table>
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.FutureFundingNeeded, htmlAttributes: new { @class = "control-label col-md-2", @style = "text-align:left" })
    <div class="col-md-9">
        <div class="checkbox col-md-10">
            @*@Html.EditorFor(model => model.FutureFundingNeeded)<br />*@
            @Html.RadioButton("FutureFundingNeeded", "Yes", Model.FutureFundingNeeded) Yes&nbsp;&nbsp; @*Model.FutureFundingNeeded.HasValue ? Model.FutureFundingNeeded.Value : false*@
            @Html.RadioButton("FutureFundingNeeded", "No", !Model.FutureFundingNeeded) No              @*Model.FutureFundingNeeded.HasValue ? !Model.FutureFundingNeeded.Value : false*@
            @*@Html.ValidationMessageFor(model => model.FutureFundingNeeded, "", new { @class = "text-danger" })*@
        </div>
    </div>
</div>

<hr />
@if (string.IsNullOrEmpty(Model.UnansweredQuestion))
{
    <div class="col-md-offset-4 hidden-print">
        <input type="button" value="Save your answers for this tab Funding" class="btn btn-warning btn-sm" style="color:black;max-width:500px" onclick="SaveData()" title="in order to return later" />
    </div>
    <div class="col-md-offset-2">
        <h5 class="text-danger">You have to answer all the necessary questions in all tabs before you may submit the form.</h5>
    </div>
}
else
{
    <div class="col-md-offset-4 hidden-print">
        @Html.ActionLink("Cancel submission of form", "SubmitProfileForm", new { id = Model.InvestmentID, cancel = true, redirect = "ProfileForm", redirectTab = "Funding" }, new { @id = "cancelProfileFormSubmission", @class = "btn btn-danger" })
    </div>
}
