@model EoS.Models.Investor.Investment

<div class="form-group">
    <label class="control-label col-md-2" style="text-align:left">The outcome</label>
    <div class=" col-md-offset-2 col-md-10" style="margin-left:0">
        <table class="borderless">
            <tr>
                @{ List<EoS.Models.Investor.InvestorOutcomeViewModel> Outcomes = ViewBag.outcomeViewModel;
                    foreach (var outcome in Outcomes)
                    {
                        @:<td><input type="checkbox" name="selectedOutcomes" value="@outcome.OutcomeID" @(Html.Raw(outcome.Assigned ? "checked=\"checked\"" : "")) /> @outcome.OutcomeName</td>
                        @:</tr><tr>
                    }
                }
            </tr>
        </table>
        @Html.ValidationMessageFor(model => model.Outcomes, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <label class="control-label col-md-2" style="text-align:left">Level of innovation</label>
    <div class=" col-md-offset-2 col-md-10" style="margin-left:0">
        <table class="borderless">
            <tr>
                @{ List<EoS.Models.Investor.InvestorInnovationLevelViewModel> InnovationLevels = ViewBag.innovationLevelsViewModel;
                    foreach (var level in InnovationLevels)
                    {
                        @:<td><input type="checkbox" name="selectedInnovationLevels" value="@level.InnovationLevelID" @(Html.Raw(level.Assigned ? "checked=\"checked\"" : "")) /> @level.InnovationLevelName </td>
                        @:</tr><tr>
                    }
                }
            </tr>
        </table>
        @Html.ValidationMessageFor(model => model.InnovationLevels, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <label class="control-label col-md-2" style="text-align:left">Required scalability</label>
    <div class=" col-md-offset-2 col-md-10" style="margin-left:0">
        <table class="borderless">
            <tr>
                @{ List<EoS.Models.Investor.InvestorScalabilityViewModel> Scalabilities = ViewBag.scalabilitiesViewModel;
                    foreach (var scalability in Scalabilities)
                    {
                        @:<td><input type="checkbox" name="selectedScalabilities" value="@scalability.ScalabilityID" @(Html.Raw(scalability.Assigned ? "checked=\"checked\"" : "")) /> @scalability.ScalabilityName</td>
                        @:</tr><tr>
                    }
                }
            </tr>
        </table>
        @Html.ValidationMessageFor(model => model.Scalabilities, "", new { @class = "text-danger" })
    </div>
</div>

<div class="col-md-offset-4">
    <input type="submit" value="Save your answers before returning later" class="btn btn-warning btn-sm" style="color:black" onclick="activateTab('all_tabs')" />
</div>
