@model EoS.Models.Investor.InvestmentEditAdminViewModel

@{
    ViewBag.Title = "Edit Investment profile "+ Model.InvestmentId + " belonging to " + Model.InvestorName + " (Admins only)";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h3>@ViewBag.Title</h3>
        <hr />

        @Html.HiddenFor(model => model.InvestmentId)

        <div class="form-group">
            @Html.LabelFor(model => model.DueDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.DueDate, new { htmlAttributes = new { @class = "form-control date-picker" @*, @onkeydown = "return false", @onpaste = "return false"*@}
            })
                    @Html.ValidationMessageFor(model => model.DueDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <input type="button" value="Set date 6 months ahead" onclick="setMonthsAhead(6)" class="btn btn-primary" style="height:25px;padding:1px" />&nbsp;&nbsp;<input type="button" value="Set date 1 year ahead" onclick="setMonthsAhead(12)" class="btn btn-primary" style="height:25px;padding:1px" /><br />
            <input type="reset" value="Set Due date none (Profile free of charge)" class="btn btn-primary" />
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Locked, htmlAttributes: new { @class = "control-label col-md-2", @style = "text-align:left" })
            <div class="col-md-9">
                <div class="checkbox col-md-10">
                    @Html.EditorFor(model => model.Locked)
                    @Html.ValidationMessageFor(model => model.Locked, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">              
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>

    </div>
}

<div class="hidden-print">
    @Html.ActionLink("Back to Investment profiles", "Index") |
    @Html.ActionLink("Details", "Details", new { id = Model.InvestmentId })
</div>

<script>

function setMonthsAhead(months) {
    var newDate = new Date();
    newDate.setMonth(newDate.getMonth() + months);
    document.getElementById("DueDate").value = newDate.toLocaleDateString();
    }

</script>