@model EoS.Models.Investor.InvestmentProfileViewModel

@{
    ViewBag.Title = "Investment profile form for " + Model.InvestmentID;
}

<h3>@ViewBag.Title</h3>
@*
    @if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <br />
    <span class="text-danger" style="font-size:larger">@Html.Raw(ViewBag.Message)</span>
    <hr />
}*@

@using (Ajax.BeginForm("ProfileForm", "Investments",
    new AjaxOptions
    {
        HttpMethod = "POST",
        @*//UpdateTargetId = "InvestmentProfileForm",
        //OnBegin = "OnBegin",
        //OnComplete = "OnComplete",*@
        OnSuccess = "OnSuccess",
        OnFailure = "OnFailure",
        LoadingElementId = "Progress",
        InsertionMode = InsertionMode.Replace,
        @*//Confirm = "...",
        //AllowCache = false*@
    }, new { @id = "InvestmentProfileForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <div id="wizard">

            <div id="Message" class="text-danger">
                @if (string.IsNullOrEmpty(Model.Message))
                {
                    @Html.Raw("Your answers are automatically saved when you navigate between the tabs, but the form is not submitted")
                }
                else
                {
                    @Model.Message
                }
            </div>
            <hr />

            @Html.HiddenFor(model => model.InvestmentID)

            @*@{ string tab = string.IsNullOrEmpty(ViewBag.Tab) ? "Profile" : ViewBag.Tab; }*@

            <input type="hidden" name="ActiveTab" id="ActiveTab" value="" /> @*@("tab_" + tab)*@

            @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
            {
                <div class="alert alert-danger">
                    <a href="#" class="close" data-dismiss="alert">×</a>
                    <h4>Validation Errors</h4>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
            }

            <!-- Tabstrip -->

            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" id="tab_Profile" class="active"> @*@(tab == "Profile" ?*@
                    <a href="#Profile" role="tab" data-toggle="tab" onclick="SaveData()">Profile</a>
                </li>
                <li role="presentation" id="tab_Funding" class=""> @*@(tab == "tab_Funding" ? "active" : "*@
                    <a href="#Funding" role="tab" data-toggle="tab" onclick="SaveData()">Funding</a>
                </li>
                <li role="presentation" id="tab_Budget" class=""> @*@(tab == "tab_Budget" ? "active" : "*@
                    <a href="#Budget" role="tab" data-toggle="tab" onclick="SaveData()">Budget</a>
                </li>
                <li role="presentation" id="tab_Team" class=""> @*@(tab == "tab_Team" ? "active" : "*@
                    <a href="#Team" role="tab" data-toggle="tab" onclick="SaveData()">Team</a>
                </li>
                <li role="presentation" id="tab_Outcome" class=""> @*@(tab == "tab_Outcome" ? "active" : "*@
                    <a href="#Outcome" role="tab" data-toggle="tab" onclick="SaveData()">Outcome</a>
                </li>
            </ul>

            <br />&nbsp;<br />

            <!-- Tab panes -->

            <div class="tab-content">

                <div role="tabpanel" class="tab-pane active" id="Profile">
                    @{
                        Html.RenderPartial("_ProfileForm_Profile");
                    }
                </div>

                <div role="tabpanel" class="tab-pane" id="Funding">
                    @{
                        Html.RenderPartial("_ProfileForm_Funding");
                    }
                </div>

                <div role="tabpanel" class="tab-pane" id="Budget">
                    @{
                        Html.RenderPartial("_ProfileForm_Budget");
                    }
                </div>

                <div role="tabpanel" class="tab-pane" id="Team">
                    @{
                        Html.RenderPartial("_ProfileForm_Team");
                    }
                </div>

                <div role="tabpanel" class="tab-pane" id="Outcome">
                    @{
                        Html.RenderPartial("_ProfileForm_Outcome");
                    }
                </div>

            </div> <!-- Tab panes end -->
            <hr />

            <div class="form-group hidden-print">
                <div class="col-md-offset-0 col-md-10">
                    <div style="float:left">
                        <input type="button" name="first" value="First" class="btn button-first btn-info" onclick="SaveData()" />
                        <input type="button" name="previous" value="Previous" class="btn button-previous btn-info" onclick="SaveData()" />
                    </div>
                    <div style="float:unset" class="col-md-offset-5">
                        @Html.ActionLink("Submit & lock the form", "SubmitProfileForm", new { id = Model.InvestmentID, redirect = "ProfileDetails" }, new { @id = "profileFormSubmission", @class = "btn btn-primary", onclick = "return onSubmitProfileForm()" })
                    </div>
                    <div style="float:right">
                        <input type="button" name="next" value="Next" class="btn button-next btn-info" onclick="SaveData()" />
                        <input type="button" name="last" value="Last" class="btn button-last btn-info" onclick="SaveData()" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div id="Progress" class="modal text-danger text-center center-block hidden-print" style="width:100%; height:100%; left:50%; top:40%;">
    <div style="position:absolute;">
        @*style="background-color:black; width:300px; border-radius:25px; border: 10px solid red;*@
        @*<h1>SAVING <br />YOUR DATA<br />IN PROGRESS</h1>*@
        <img src="~/img/saving.gif" />
    </div>
</div>

<div class="hidden-print">
    <hr />
    @Html.ActionLink("Back to your Investment profiles", "Index") |
    @Html.ActionLink("Profile details", "ProfileDetails", new { id = Model.InvestmentID }) |
    <input type="button" value="Set this tab as start tab" onclick="setNewStartTab()" class="btn btn-primary" style="height:25px;padding:1px" /> |
    <input type="button" value="Reload page" onclick="reloadPage()" class="btn btn-primary" style="height:25px;padding:1px" />
</div>

<script type="text/javascript">

    window.onload = function (evt) { $("#Progress").hide(); };
    @*//window.onbeforeunload = function (evt) { SaveData(); };*@

    function setNewStartTab() {
        location.href = location.href.split('#')[0] + '#' + $('.active')[0].id.replace('tab_', '');
    }

    function reloadPage() { //resetData() refreshTab()
        if (confirm("Do ypu want to save your latest answers before reloding?")) SaveData();
        location.reload(true);
    }

    function onSubmitProfileForm() {
        //if (!AllQuestionsAreAnswered())
        //else
        SaveData();
        return confirm('Do you really wish to submit this form? (It will be locked for editing');
    }

    //function AllQuestionsAreAnswered() {
    //    return $("input[name='ProfileName']")[0].value !== '' &&
    //        $("input[name='ProfileDomain']")[0].value !== '' &&
    //     //...
    //}
    @*
    function submitProfileForm() {
        SaveData();
        if (confirm('Do you really wish to submit this form? (It will not be editable any more)')) {
            //SaveData(); //$('#InvestmentProfileForm').submit();
            location.href = '/Investments/SubmitProfileForm/@Model.InvestmentID'; //+ '?redirect=ProfileDetails';
        }
        //SaveData();
    }

    $('a#profileFormSubmission').click(function () {
        SaveData();
        if (!confirm('Do you really wish to submit this form? (It will not be editable any more)')) return false;
        return true;
    });*@

    function SaveData() { //PostData()
        //$("#Progress").show();
        activateTab($('.active')[0].id);
        //SaveDataInTab($('.active')[0].id);
        $('#InvestmentProfileForm').submit();
    }
    @*
    //function SaveDataInTab(tab) {
        //$("#Progress").show();
        //activateTab(tab);
        //$('#InvestmentProfileForm').submit();
        //$('#_' + tab + '_Form').submit();
    //}*@

    function OnSuccess(response) { //(data, textStatus, jqXHR)
        @*if ($("input[name='activeTab']")[0].value != 'tab_RelatedFiles')
        $("#Progress").hide();

        if (' Model.Updated' === 'True') { //'ViewBag.Tab'.replace('_', ' ') + ' || '
            var successMessage = 'Your answers in ' + $("input[name='ActiveTab']")[0].value.replace('_', ' ') + ' have been saved.'; // $("input[name='ActiveTab']")[0].value.replace('_', ' ') + ' have been saved.';
            var message = '@Model.Message';  + (message !== '' ? '<br />' + message : '')*@

        var successMessage = 'Your answers in ' + $("input[name='ActiveTab']")[0].value.replace('_', ' ') + ' have been saved.'; 
         $('#Message').html(successMessage);
        @*//}
        //else {
        //    message = 'There were nothing that needed to be updated in ' + $("input[name='ActiveTab']")[0].value.replace('_', ' ') + '.'; //+ $("input[name='ActiveTab']")[0].value.replace('_', ' ') + '.';
        //    $('#Message').html(message);
        //}*@
    }

    function OnFailure(response) {
        @*//if ($("input[name='activeTab']")[0].value != 'tab_RelatedFiles')
        //$("#Progress").hide(); $("input[name='ActiveTab']")[0].value.replace('_', ' ')  'ViewBag.Tab'.replace('_', ' ') +*@
        var failureMessage = 'Your answers in ' + $("input[name='ActiveTab']")[0].value.replace('_', ' ') +' could not be saved!<br />' + response.responseText;
        @*var message = '@Model.Message'; + (message !== '' ? '<br />' + message : '')*@
        $('#Message').html(failureMessage);
        @*
        $('#Message').html(failureMessage);
        //else $('#Message').html('');*@
    }

    function activateTab(activeTabName) {
        $("input[name='ActiveTab']")[0].value = activeTabName;
    }

</script>

