@model EoS.Models.IdeaCarrier.StartupEditAdminViewModel

@{
    ViewBag.Title = "Edit Startup project " + Model.StartupID + " belonging to " + Model.IdeaCarrierUserName + " (Admin only)";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h3>@ViewBag.Title</h3>
        <hr />

        @Html.HiddenFor(model => model.StartupID)

        <div class="form-group">
            @if (!string.IsNullOrEmpty(Model.ProjectSummary))
            {
                @Html.LabelFor(model => model.ProjectSummary, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                @Html.TextAreaFor(model => model.ProjectSummary, 15, 150, new { htmlAttributes = new { @class = "form-control", @placeholder = "no HTML" } }) @*HTML not allowed*@
                @Html.ValidationMessageFor(model => model.ProjectSummary, "", new { @class = "text-danger" })
                </div>
            }
            else { @Html.Raw("<h3>No project summary has been written by this Idea carrier.</h3><br />"); }
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Locked, htmlAttributes: new { @class = "control-label col-md-2", @style = "text-align:left" })
            <div class="col-md-9">
                <div class="checkbox col-md-10">
                    @Html.EditorFor(model => model.Locked)
                    @Html.ValidationMessageFor(model => model.Locked, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        @*@if (Model.Approved.HasValue)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.Approved, htmlAttributes: new { @class = "control-label col-md-2", @style = "text-align:left" })
                <div class="col-md-9">
                    <div class="checkbox col-md-10">
                        @Html.EditorFor(model => model.Approved.Value) &nbsp;(by&nbsp;@Model.ApprovedBy)
                        @Html.ValidationMessageFor(model => model.Approved, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        }*@

        <div class="form-group hidden-print">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>

    </div>
}

    <div class="hidden-print">
        @Html.ActionLink("Back to Investment profiles by this Idea carrier", "Index", new { id = Model.IdeaCarrierUserID }) |
        @Html.ActionLink("Go to all Investment profiles", "Index") |
        @Html.ActionLink("Project details", "ProjectDetails", new { id = Model.StartupID })
    </div>
