@model IEnumerable<EoS.Models.IdeaCarrier.Startup>

@if (ViewBag.UserRole == EoS.Models.Role.Admin.ToString() && ViewBag.Matchable != null)
{
    if (ViewBag.Matchable)
    {
        ViewBag.Title = "Matchable Startup projects" + (string.IsNullOrEmpty(ViewBag.IdeaCarrierUserName) ? "" : " by " + ViewBag.IdeaCarrierUserName);
    }
    else if (!ViewBag.Matchable)
    {
        ViewBag.Title = "Unmatchable Startup projects" + (string.IsNullOrEmpty(ViewBag.IdeaCarrierUserName) ? "" : " by " + ViewBag.IdeaCarrierUserName);
    }
}
else if (!string.IsNullOrEmpty(ViewBag.IdeaCarrierUserName))
{
    ViewBag.Title = "Startup projects by " + ViewBag.IdeaCarrierUserName;
}
else
{
    ViewBag.Title = (string.IsNullOrEmpty(ViewBag.IdeaCarrierUserName) ? "Startup projects" : "Your Startup projects");
}

<h3>@ViewBag.Title</h3>

@if (ViewBag.UserRole == EoS.Models.Role.Admin.ToString())
{
    <p class="hidden-print">
        @if (ViewBag.Matchable == null)
        {
            @Html.ActionLink("Show matchable projects", "Index", new { id = ViewBag.IdeaCarrierId, matchable = true }, new { @class = "btn btn-success", @style = "height:25px;padding:1px" })
        }
        else if (ViewBag.Matchable)
        {
            @Html.ActionLink("Show unmatchable projects", "Index", new { id = ViewBag.IdeaCarrierId, matchable = false }, new { @class = "btn btn-danger", @style = "height:25px;padding:1px" })
        }
        else
        {
            if (!string.IsNullOrEmpty(ViewBag.IdeaCarrierId))
            {
                @Html.ActionLink("Show all projects", "Index", new { id = "" }, new { @class = "btn btn-primary", @style = "height:25px;padding:1px" })
            }
            else if(string.IsNullOrEmpty(ViewBag.IdeaCarrierId))
            {
                <text>&nbsp;</text>
                @Html.ActionLink("Show all projects", "Index", new { id = "" }, new { @class = "btn btn-primary", @style = "height:25px;padding:1px" })
            }
        }
    </p>
}
@if (ViewBag.UserRole == EoS.Models.Role.IdeaCarrier.ToString())
{
    <p class="hidden-print">
        @Html.ActionLink("Add a new Startup project", "AddNewProject")
    </p>
}

<table class="table">
    <tr>
        @if (ViewBag.UserRole == EoS.Models.Role.Admin.ToString() && string.IsNullOrEmpty(ViewBag.IdeaCarrierUserName))
        {
            <th>
                @Html.Raw("<span class=\"visible-print\">Idea carrier user name</span>")
                @Html.ActionLink("Idea Carrier User Name", "Index", new { orderBy = "UserName" }, htmlAttributes: new { title = "Order by User name", @class = "hidden-print" })
            </th>
        }
        <th>
            @Html.Raw("<span class=\"visible-print\">")@Html.DisplayNameFor(model => model.StartupID)@Html.Raw("</span>")
            @Html.ActionLink(Html.DisplayNameFor(model => model.StartupID).ToString(), "Index", new { orderBy = "StartupID" }, htmlAttributes: new { title = "Order by Startup project id", @class = "hidden-print" })
        </th>
        <th>
            @Html.Raw("<span class=\"visible-print\">")@Html.DisplayNameFor(model => model.StartupName)@Html.Raw("</span>")
            @Html.ActionLink(Html.DisplayNameFor(model => model.StartupName).ToString(), "Index", new { orderBy = "StartupName" }, htmlAttributes: new { title = "Order by Startup project name", @class = "hidden-print" })
        </th>
        @if (ViewBag.UserRole == EoS.Models.Role.Admin.ToString())
        {
            <th>
                @Html.Raw("<span class=\"visible-print\">")@Html.DisplayNameFor(model => model.CountryID)@Html.Raw("</span>")
                @Html.ActionLink(Html.DisplayNameFor(model => model.CountryID).ToString(), "Index", new { orderBy = "Country" }, htmlAttributes: new { title = "Order by Country", @class = "hidden-print" })
            </th>
            @*<th>
                @Html.Raw("<span class=\"visible-print\">")@Html.DisplayNameFor(model => model.SwedishRegionID)@Html.Raw("</span>")
                @Html.ActionLink(HttpUtility.HtmlDecode(Html.DisplayNameFor(model => model.SwedishRegion).ToString()), "Index", new { orderBy = "SwedishRegion" }, htmlAttributes: new { title = "Order by Swedish region (län)", @class = "hidden-print" })
            </th>*@
        }
        <th>
            @Html.Raw("<span class=\"visible-print\">")@Html.DisplayNameFor(model => model.ProjectDomainID)@Html.Raw("</span>")
            @Html.ActionLink(Html.DisplayNameFor(model => model.ProjectDomainID).ToString(), "Index", new { orderBy = "ProjectDomainName" }, htmlAttributes: new { title = "Order by Project domain", @class = "hidden-print" })
        </th>
        <th>
            @Html.Raw("<span class=\"visible-print\">#Matches</span>")
            @Html.ActionLink("#Matches", "Index", new { orderBy = "MatchMakingCount" }, htmlAttributes: new { title = "Order by Match making count", @class = "hidden-print" })
        </th>
        <th>
            @Html.Raw("<span class=\"visible-print\">Form</span>")
            @Html.ActionLink("Project form", "Index", new { orderBy = "LastSavedDate" }, htmlAttributes: new { title = "Order by Last saved date", @class = "hidden-print" })
        </th>
        <th>
            @Html.Raw("<span class=\"visible-print\">")@Html.DisplayNameFor(model => model.DeadlineDate)@Html.Raw("</span>")
            @Html.ActionLink(Html.DisplayNameFor(model => model.DeadlineDate).ToString(), "Index", new { orderBy = "DeadlineDate" }, htmlAttributes: new { title = "Order by Deadline date", @class = "hidden-print" })
        </th>
        <th>
            @Html.Raw("<span class=\"visible-print\">")@Html.DisplayNameFor(model => model.CreatedDate)@Html.Raw("</span>")
            @Html.ActionLink(Html.DisplayNameFor(model => model.CreatedDate).ToString(), "Index", new { orderBy = "CreatedDate" }, htmlAttributes: new { title = "Order by Created date", @class = "hidden-print" })
        </th>
        <th class="hidden-print">
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @if (ViewBag.UserRole == EoS.Models.Role.Admin.ToString() && string.IsNullOrEmpty(ViewBag.IdeaCarrierUserName))
            {
            <td>
                <span class="visible-print">@Html.DisplayFor(modelItem => item.User.UserName)</span>
                @Html.ActionLink(item.User.UserName, "Index", new { id = item.UserID }, new { @class = "hidden-print", title = "This Idea carrier's startup projects"})
            </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.StartupID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartupName)
            </td>
            @if (ViewBag.UserRole == EoS.Models.Role.Admin.ToString())
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Country.CountryAbbreviation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectDomain.ProjectDomainName)
                </td>
                <td>
                    @item.MatchMakings.Count()
                </td>
                <td>
                    @if (item.Locked) //Form
                    {
                        @Html.Raw("Locked&nbsp;")
                        @Html.ActionLink("Unlock it", "Unlock", new { id = item.StartupID }, new { @class = "btn btn-success hidden-print", @style = "height:25px;padding:1px" })
                    }
                    else
                    {
                        int daysSinceLastSaved = DateTime.Now.Date.Subtract(item.LastSavedDate.Date).Days;
                        string message = daysSinceLastSaved + (daysSinceLastSaved == 1 ? " day" : " days") + " since last saved";
                        @Html.Raw(message);

                        <span class="hidden-print">
                            @if (daysSinceLastSaved >= 1)
                            {
                                <text>&nbsp;&nbsp;</text>
                                @Html.ActionLink("Remind", "Reminder", new { id = item.StartupID, subject = "Finish Project form " + item.StartupID, message = message, redirect = (string.IsNullOrEmpty(ViewBag.IdeaCarrierUserName) ? "" : "IndexUser") }, new { @class = "btn btn-danger hidden-print", @style = "height:25px;padding:1px" })
                            }
                        </span>
                    }
                </td>
            }
            else if (ViewBag.UserRole == EoS.Models.Role.IdeaCarrier.ToString())
            {
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectDomain.ProjectDomainName)
                </td>
                <td>
                    @item.MatchMakings.Count()
                </td>
                <td>

                     @if (item.Locked)
                    {
                        @Html.Raw("Locked&nbsp;")
                         @Html.ActionLink("Unlock it", "Contact", "Home", new { subject = "Unlock " + item.StartupID }, new { @class = "btn btn-primary hidden-print", @style = "height:25px;padding:1px" })
                        @*@Html.ActionLink("Unlock", "Unlock", new { id = item.StartupID }, new { @class = "btn btn-success hidden-print", @style = "height:25px;padding:1px" })*@
                    }
                    else
                    {
                        int daysSincelastSaved = DateTime.Now.Date.Subtract(item.LastSavedDate.Date).Days;
                        string message = daysSincelastSaved + (daysSincelastSaved == 1 ? " day" : " days") + " since last saved&nbsp;";
                        @Html.Raw(message);                      
                        @Html.ActionLink("Finish it", "ProjectForm", new { id = item.StartupID }, new { @class = "btn btn-danger hidden-print", @style = "height:25px;padding:1px" })
                    }
                </td>
            }
                <td>
                    @if (item.DeadlineDate.HasValue && DateTime.Now.Date > item.DeadlineDate.Value.Date)
                    {
                        if (ViewBag.UserRole == EoS.Models.Role.Admin.ToString())
                        {
                            @:<span class="visible-print">Passed</span>
                            @Html.ActionLink("Remind", "Reminder", new { id = item.StartupID, subject = "Deadline date passed for " + item.StartupID, message = "Prolong the Deadline date for project " + item.StartupID, redirect = "Index" }, new { @class = "btn btn-danger hidden-print", @style = "height:25px;padding:1px" })
                        }
                        else //Investor
                        {
                            @:<span class="visible-print">Passed</span>
                            if (item.Locked)
                            {
                                @Html.ActionLink("6 months", "ProlongDeadlineDate", new { id = item.StartupID, months = 6 }, new { @class = "btn btn-danger hidden-print", @style = "height:25px;padding:1px" }); Html.Raw("&nbsp;");
                                @Html.ActionLink("1 year", "ProlongDeadlineDate", new { id = item.StartupID, months = 12 }, new { @class = "btn btn-danger hidden-print", @style = "height:25px;padding:1px" });
                            }
                            else if (!item.DeadlineDate.HasValue)
                            {
                                @:<span class="visible-print">Not set</span>
                                @Html.ActionLink("Set", "ProjectForm", new { @class = "btn btn-danger hidden-print", @style = "height:25px;padding:1px" });
                            }
                            else
                            {
                                @Html.DisplayFor(model => item.DeadlineDate)
                            }
                        }
                    }
                    else
                    {
                        @Html.DisplayFor(model => item.DeadlineDate)
                    }
                </td>

            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>

            <td class="hidden-print">
                @Html.ActionLink("Details", "ProjectDetails", new { id = item.StartupID })
                @if (!item.Locked && ViewBag.UserRole == EoS.Models.Role.IdeaCarrier.ToString() && Model.Count() > 1)
                {
                    <text>|</text>
                    @Html.ActionLink("Remove", "RemoveProject", new { id = item.StartupID }, new { @style = "color:red" })
                }
                else if (ViewBag.UserRole == EoS.Models.Role.Admin.ToString())
                {
                    <text>|</text>
                    @Html.ActionLink("Edit", "EditAdmin", new { id = item.StartupID })
                }
                @if (ViewBag.UserRole == EoS.Models.Role.Admin.ToString() && item.Locked)
                {
                    @*<text>|</text>
                    @Html.ActionLink("Case Preview", "GeneratePDF", new { id = item.StartupID }, new { target = "_blank" })*@

                    if (item.Approved)
                    {
                        <text>|</text>
                        @Html.ActionLink("Disapprove", "ChangeApproval", new { id = item.StartupID }, new { @class = "btn btn-success", @style = "height:25px;padding:1px" })
                    }
                    else
                    {
                        <text>|</text>
                        @Html.ActionLink("Approve", "ChangeApproval", new { id = item.StartupID }, new { @class = "btn btn-danger", @style = "height:25px;padding:1px" })
                    }
                }
            </td>
        </tr>
    }
</table>
