@model EoS.Models.IdeaCarrier.Startup 

@{
    ViewBag.Title = "Remove Startup project";
}

@*<h2>@ViewBag.Title</h2>*@

<h3>Are you sure you want to remove this?</h3>
<div>
    <h4>Startup project @Model.StartupID</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StartupName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountryID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Country.CountryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectDomainID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjectDomain.ProjectDomainName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectSummary)
        </dt>
        <dd class="hidden-print">
            @Html.TextAreaFor(model => model.ProjectSummary, new { @readonly = "readonly", @rows = "10", @cols = "150" })
        </dd>
        <dd class="visible-print">
            <hr style="border-color:darkgrey; background-color:darkgrey;" />
            @Html.Raw(Model.ProjectSummary.Replace("\n", "<br />"))
            <hr style="border-color:darkgrey; background-color:darkgrey;" />
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.DeadlineDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeadlineDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastSavedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastSavedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Locked)
        </dt>
        <dd>
            @(Model.Locked ? "Yes" : "No")
            @*@Html.DisplayFor(model => model.Locked)*@
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastLockedDate)
        </dt>
        <dd>
            @if (Model.LastLockedDate.HasValue)
            {
                @Html.DisplayFor(model => model.LastLockedDate)
            }
            else
            {
                @Html.Raw("None")
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Approved)
        </dt>
        <dd>
            @(Model.Approved ? "Yes" : "No")
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color hidden-print">
        <input type="submit" value="Remove this project" class="btn btn-danger" /> |
        @Html.ActionLink("Project details", "ProjectDetails", new { id = Model.StartupID }) |
        @Html.ActionLink("Back to your Startup projects", "Index")
    </div>
    }
</div>
