@model EoS.Models.Admin.IdeaCarrierMessage

@*@{
    Layout = null;
}*@

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete Idea carrier message</title>
</head>
<body>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Idea Carrier Message</h4>
        <hr />
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.Text)
            </dt>
            <dd>
                @*@Html.DisplayFor(model => model.Text)*@
                <div style="border-style:solid; border-width:1px" title="HTML">@Html.Raw(Model.Text)</div>
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AllowSharing_DisplayName)
            </dt>
            <dd>
                @*@Html.DisplayFor(model => model.AllowSharing_DisplayName)*@
                <div style="border-style:solid; border-width:1px" title="HTML">@Html.Raw(Model.AllowSharing_DisplayName)</div>
            </dd>

        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                @Html.ActionLink("Back to Idea carrier message index", "Index")
            </div>
        }
    </div>

</body>
</html>
