@model EoS.Models.Home.ContactEmailFormViewModel
@{
    ViewBag.Title = "Contact us";
}

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <noscript class="text-danger" style="font-size:20px"><br />Don't block JavaScript !!<br /><text>&nbsp;</text><br /></noscript>
    </div>
</div>

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h4>Send your message to us.</h4>
    <hr />

        <div class="form-group">
            @Html.TextBoxFor(model => model.Subject, new { @class = "form-control", @placeholder = "Subject" })
            @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.TextAreaFor(model => model.Message, 15, 10, new { @class = "form-control", @placeholder = "Message (plain text)" })
            @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <div>
                <input type="reset" value="Reset" class="btn btn-default"/>
                <input type="submit" value="Send Message" class="btn btn-primary" />
                <h4>to</h4>
            </div>
        </div>
}

<h4>
    Form System<br />
</h4>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
