@model EoS.Models.MMM.MatchMaking

@{
    ViewBag.Title = "Delete Match Making";
}

@*<h3>@ViewBag.Title</h3>*@

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Match Making @Model.MatchMakingId</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.MatchMakingDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MatchMakingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvestmentId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InvestmentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartupId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartupId)
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.ProjectDomainMatched)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ProjectDomainMatched.Value)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FundingPhaseMatched)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FundingPhaseMatched.Value)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FundingAmountMatched)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FundingAmountMatched.Value)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EstimatedExitPlanMatched)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EstimatedExitPlanMatched.Value)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OutcomesMatched)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.OutcomesMatched.Value)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.InnovationLevelMatched)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.InnovationLevelMatched.Value)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ScalabilityMatched)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ScalabilityMatched.Value)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TeamSkillsMatched.Value)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TeamSkillsMatched)
            </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.NoOfMatches)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NoOfMatches) @*(of @Html.DisplayFor(model => model.MaxNoOfMatches))*@
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sent)
        </dt>
        <dd>
            @*@Html.DisplayFor(model => model.Sent)*@
            @(Model.Sent ? "Yes" : "No")
        </dd>
    </dl>

    <div class="form-actions no-color hidden-print">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <input type="submit" value="Delete" class="btn btn-danger hidden-print" /><text> |</text>
            @Html.ActionLink("To Result List", "Results")<text> |</text>
            @Html.ActionLink("To Details", "Details", new { id = Model.MatchMakingId })
        }
    </div>

</div>