@model EoS.Models.MMM.MatchMaking

@{
    ViewBag.Title = "Match making result details";
}

<h3>@ViewBag.Titles</h3>

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div class="warning">@ViewBag.Message</div>
}

<div>
    @*<h4>Match making</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MatchMakingDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MatchMakingDate)
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.Sent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sent)
        </dd>*@
        <dt>
            @Html.DisplayNameFor(model => model.InvestmentId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InvestmentId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartupId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartupId)
        </dd>

        @if (Model.ProjectDomainMatched.HasValue)
        {
            <dt>
                @Html.DisplayNameFor(model => model.ProjectDomainMatched) @*1*@
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ProjectDomainMatched)
            </dd>
        }

        @if (Model.FundingPhaseMatched.HasValue)
        {
            <dt>
                @Html.DisplayNameFor(model => model.FundingPhaseMatched) @*2*@
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FundingPhaseMatched)
            </dd>
        }

        @if (Model.FundingAmountMatched.HasValue)
        { //<-------------------------------------------------------
            <dt>
                @Html.DisplayNameFor(model => model.FundingAmountMatched) @*3*@
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FundingAmountMatched)
            </dd>
        }

        @if (Model.FundingAmountMatched.HasValue)
        {
            <dt>
                @Html.DisplayNameFor(model => model.FundingAmountMatched) @*3*@
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FundingAmountMatched)
            </dd>
        }

        @if (Model.EstimatedExitPlanMatched.HasValue)
        {
            <dt>
                @Html.DisplayNameFor(model => model.EstimatedExitPlanMatched) @*4*@
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EstimatedExitPlanMatched)
            </dd>
        }

        @if (Model.OutcomesMatched.HasValue)
        {
            <dt>
                @Html.DisplayNameFor(model => model.OutcomesMatched) @*5*@
            </dt>
            <dd>
                @Html.DisplayFor(model => model.OutcomesMatched)
            </dd>
        }

        @if (Model.InnovationLevelMatched.HasValue)
        {
            <dt>
                @Html.DisplayNameFor(model => model.InnovationLevelMatched) @*6*@
            </dt>
            <dd>
                @Html.DisplayFor(model => model.InnovationLevelMatched)
            </dd>
        }

        @if (Model.ScalabilityMatched.HasValue)
        {
            <dt>
                @Html.DisplayNameFor(model => model.ScalabilityMatched) @*7*@
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ScalabilityMatched)
            </dd>
        }

        @if (Model.TeamSkillsMatched.HasValue)
        {
            <dt>
                @Html.DisplayNameFor(model => model.TeamSkillsMatched) @*8*@
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TeamSkillsMatched)
            </dd>
        }

    @*<dt>
        @Html.DisplayNameFor(model => model.TeamMemberSizeMatched)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.TeamMemberSizeMatched)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.TeamExperienceMatched)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.TeamExperienceMatched)
    </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.NoOfMatches)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NoOfMatches) (of @Html.DisplayFor(model => model.MaxNoOfMatches))
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sent)
        </dd>

    </dl>
</div>

@if (!Model.Sent)
{
    <div>
        @Html.ActionLink("Send report to Investor", "Details", "MatchMakings", new { id = Model.MatchMakingId, sendReport = true }, new { @class = "btn btn-primary" })
    </div>
}

    <p class="hidden-print">
        @Html.ActionLink("Back to Result list", "Results", new { matchDate = Model.MatchMakingDate }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.MatchMakingId }, new { @style = "color:red" })
    </p>

